@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto&display=swap');
.main
{
    background-color: rgb(255, 255, 255);
    height: 93%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.row
{
    background-color: rgb(0, 55, 255);
    height: 10px;
    width: 10px;
    width: 90%;
}
.row:nth-of-type(1)
{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.row:nth-of-type(2)
{
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:600;


}
.row:nth-of-type(3)
{
    height: 270px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
   
    
}
.row:nth-of-type(4)
{
    height: 140px;
    border-top: 3px solid gray;
   display: flex;
   flex-direction: column;


}
.row:nth-of-type(4)  
{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
  
}
.lis{
    background-color: red;
    
    width: 100%;
}
.lis:nth-of-type(1)
{
    height: 20px;
}
.lis:nth-of-type(1) ul, .lis:nth-of-type(3) ul
{
  list-style: none;
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lis:nth-of-type(2)
{
    height: 50px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 5px;
    background-color: #e14613a6;
    display: flex;
    flex-direction: column;

}
.lis:nth-of-type(2) ul
{
    background-color: greenyellow;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lis:nth-of-type(2) p
{
    background-color: yellow;
}
.lis:nth-of-type(3)
{
    height: 20px;
}

.row:nth-of-type(5)
{
    height: 100px;
   

}


.row:nth-of-type(1) div
{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.row:nth-of-type(1) div p:nth-of-type(1)
{
    background-color: #0096FF;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;

}
.row:nth-of-type(1) div p:nth-of-type(2)
{
 
 font-size: 12px;
}
.list
{
    background-color: rgb(255, 255, 255);
    height: 52px;
    width: 100%;
    border: 3px solid rgb(136, 131, 131);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.list p
{
    font-family: 'Roboto', sans-serif;
}
.list input
{
    height:20px;
}


.list p:nth-of-type(2)
{
   
   height: 40px;
   width: 120px;
   text-align: center;
   font-size: 12px;
   padding-top: 5px;
   
}
.list p:nth-of-type(2) span{
    
    font-size: 15px;
    font-weight: 600;
}
.recommand
{
    position: absolute;
    
    height: 47px;
    width: 358px;
    border-radius:2px;
    /* opacity:0.4; */
    display: flex;
    justify-content: baseline;
    align-items: baseline;
}
.recommand div
{
    
    margin-left: 70px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 12px;
    height: 20px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}